@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 700;
  src: local('Scada Bold'), local('Scada-Bold'), url(/fonts/Scada/Scada-Bold.ttf) format('woff');
}
@font-face {
  font-family: 'Scada';
  font-style: normal;
  font-weight: 400;
  src: local('Scada'), local('Scada-Regular'), url(/fonts/Scada/Scada-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 700;
  src: local('Scada Bold Italic'), local('Scada-BoldItalic'), url(/fonts/Scada/Scada-BoldItalic.ttf) format('woff');
}
@font-face {
  font-family: 'Scada';
  font-style: italic;
  font-weight: 400;
  src: local('Scada Italic'), local('Scada-Italic'), url(/fonts/Scada/Scada-Italic.ttf) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(/fonts/Scada/SourceCodePro-Regular.ttf) format('woff');
}

/* Selection Colors */
::-moz-selection {
  background: orange;
  background: rgba(255, 153, 0, 0.65);
  color: white;
}

::selection {
  background: orange;
  background: rgba(255, 153, 0, 0.65);
  color: white;
}

body {
  font: 14px "Scada", Helvetica, Arial, sans-serif;
  background: url(/images/dust.png);
}

.well {
  border-radius: 0px;
}


h1 {
  font-family: 'Scada';
  font-weight: 700;
}

.navbar a{
  -webkit-transition: color 400ms;
}

  .navbar-inner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 0px;
    position: relative;
    top: -1px;
  }

  .navbar li a {
    height: 25px;
    line-height: 28px;
  }

  .navbar a.brand:hover {
    color: #000;
  }

ul.posts {
  margin-left: 0px;
}

  ul.posts li {
/*    padding: 4px;*/
    padding-left: 14px;
    list-style-type: none;
    border-left: 3px solid;
  }

    ul.posts li a:hover {
    }
  
    ul.posts li a i{
      opacity: 0;
      margin-top: 4px;
      margin-left: 12px;
      -webkit-transition: opacity 400ms;
      pointer-events: none;
    }
    ul.posts li a:hover i {
      opacity: 1;
    }

.post {
  border-left: 3px solid;
  padding: 10px 20px 10px 14px;
  
  background-color: #fcfcfc;
  background-color: rgba(255, 255, 255, 0.65);
}

.details {
}

  .details .published {
    font-style: italic;

  }
  
  .details .tags a {
    padding-left: 4px;
    padding-right: 4px;
  }
